* {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  margin: auto;
}

.bg-image {
  position: absolute;
  bottom: -88%;
}

.container {
  display: flex;
  justify-content: space-between; /* Updated to space-between */
  padding: 165px 20px 124px; /* Adjusted padding */
  width: 100%;
  margin: auto;
  border: #fbab40;
  height: 100vh;
  background-color: #242628;
  background-image: url(./assets/world.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 70px;
  background-origin: padding-box;


}

.header {
  width: 45%; /* Adjusted width for the left column */
  padding: 0px;
  text-align: center; /* Center text in the left column */

}

.header h3 {
  color: #ff9e40;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 36px;
}

.header > h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #ffffff;
}

.header > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  margin: 16px 0px;
}

.options {
  width: 45%; /* Adjusted width for the right column */
  display: flex;
  flex-direction: column; /* Stack options vertically in the right column */
  align-items: center; /* Center options in the right column */

    /* Add borders around columns */
    border: 2px solid #ff9e40; /* Orange border */
}

.learn-more > a > button {
  background: #f6821f;
  border-radius: 4px;
  border: none;
  width: 180px;
  margin-top: 78px;
  height: 55px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background: rgba(246, 130, 31, 1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .container {
    background-size: contain;
    background-position-y: center;
  }
}

@media screen and (max-width: 600px) {
  .container {
    background-size: contain;
    background-position-y: center;
  }

  /* Additional styles for smaller screens */
  .header {
    width: 100%; /* Full width for the left column on smaller screens */
  }

  .options {
    width: 100%; /* Full width for the right column on smaller screens */
    margin-top: 20px; /* Add some space between the columns */
  }
}
